services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    ports:
      - 9999:9999
      - 47194:47194
      - 47194:47194/udp
    environment:
      - PUID=1000
      - PGID=1000
      - WEBUI_PORT=9999
      - NODE_ENV=production
      - TZ=Asia/Yekaterinburg
    networks:
      abook: {}
      main:
        ipv4_address: 192.168.28.15
        # mac_address: 92:42:3b:df:3b:24
    volumes:
      - ./qData:/config
      - /mnt/E/downloads:/downloads
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

networks:
  main:
    external: true
  abook:
    external: true
